:root{
    --border-color: #291d4d;
    --dialog-background: #fff384;
    --menu-background: #ffE8D2;
    --menu-border-color: #a4B465;
    --menu-font-color: #3a160d;
    --menu-selected-background: #7fc2ff;
}
body{
    background-color: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.game-container {
    position: relative;
    width: 192px;
    margin: 0 auto;
    margin-top: 20px;
    height: 192px;
    transform: scale(3.5) translateY(40%);
    outline: 1px solid #fff;
}

.game-container canvas {
image-rendering: pixelated;
}